Package: com.se2crid.filepickerfix
Name: FilePickerFix
Depends: mobilesubstrate, firmware (>= 17.0.1)
Section: Tweaks
Priority: optional
Maintainer: @se2crid on diescord
Architecture: iphoneos-arm64 iphoneos-arm64e
Version: 1.0-1-5+debug
Installed-Size: 172
